<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1>Сайты</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <th>ID</th>
            <th>Имя</th>
            </thead>
            <tbody>
            <tr th:each="url : ${urls}" th:object="${url}">
                <td th:text="*{id}"></td>
                <td>
                    <a th:text="*{name}" th:href="@{/urls/{id}(id=*{id})}"></a>
                </td>
            </tr>
        </table>
    </div>
</section>

</html>